# KONFIGURASI TELEGRAM
BOT_TOKEN=isi_token_bot_disini
CHAT_ID=isi_chat_id_disini

# KONFIGURASI OKECONNECT
OKE_MEMBER_ID=isi_member_id
OKE_PIN=isi_pin
OKE_PASSWORD=isi_password
OKE_BASE_URL=https://h2h.okeconnect.com/trx
PRICELIST_URL=https://okeconnect.com/harga/json?id=...

# KONFIGURASI PRODUK
NOMOR_TUJUAN=0812xxx,0857xxx,0878xxx
